.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  max-width: 90%;
  max-height: 90%;
}

.modal img {
  display: block;
  width: 100%;
  height: auto;
}
